*.egg-info
*.py?
.Python
.coverage
.coverage.*
.installed*.cfg
.mr.developer.cfg
.tox
.Python
pip-selfcheck.json
/bin/
/build/
/develop-eggs/
/develop/
/dist/
/docs/.build/
/docs/_build/
/eggs/
/etc/
/htmlcov/
/include/
/lib/
/log/
/parts/
/var/
coverage.xml
pip-selfcheck.json
