*.egg-info
*.py?
*.profraw
.Python
.coverage
.coverage.*
.installed*.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
/bin/
/build/
/_build/
/develop-eggs/
/develop/
/dist/
/docs/.build/
/docs/_build/
/eggs/
/etc/
/htmlcov/
/include/
/lib/
/log/
/parts/
/var/
coverage.xml
pip-selfcheck.json
Pipfile
Pipfile.lock
pyvenv.cfg
