language: python

matrix:
    include:
        - python: "3.6"
          env: TOXENV=lint-py36
        - python: "3.5"
          env: TOXENV=py35
        - python: "3.6"
          env: TOXENV=py36
        - python: "3.7"
          env: TOXENV=py37
        - python: "3.8"
          env: TOXENV=py38
        - python: "3.9-dev"
          env: TOXENV=py39

before_install:
    - pip install -U pip

install:
    - travis_retry pip install -U pip setuptools
    - travis_retry pip install -U tox coveralls coverage

script:
    - travis_retry tox

after_success:
    - coverage combine
    - coveralls

notifications:
    email: mh@gocept.com

cache:
  pip: true
  directories:
    - eggs/
