language: python
sudo: false

matrix:
    include:
        - python: "2.7"
          env: TOXENV=lint-py27
        - python: "3.6"
          env: TOXENV=lint-py36
        - python: "2.7"
          env: TOXENV=py27
        - python: "3.5"
          env: TOXENV=py35
        - python: "3.6"
          env: TOXENV=py36
        - python: "3.7"
          env: TOXENV=py37
          dist: xenial
          sudo: true
        - python: "3.7-dev"
          env: TOXENV=py37
          dist: xenial
          sudo: true
        - python: "3.8-dev"
          env: TOXENV=py38
          dist: xenial
          sudo: true
    allow_failures:
        - python: "2.7"
          env: TOXENV=lint-py27
        - python: "3.6"
          env: TOXENV=lint-py36
        - python: "3.7"
          env: TOXENV=py37
        - python: "3.7-dev"
          env: TOXENV=py37
        - python: "3.8-dev"
          env: TOXENV=py38

install:
    - travis_retry pip install -U pip setuptools
    - travis_retry pip install -U tox coveralls coverage

script:
    - travis_retry tox

after_success:
    - coverage combine
    - coveralls
    # Bails out for non-tags
    - ./update_index.sh

notifications:
    email: false

cache:
  pip: true
  directories:
    - eggs/
