language: python
sudo: false
dist: trusty
python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6
install:
    - pip install -U setuptools==`grep setuptools versions.cfg | awk '{print $3}'`
    - pip install zc.buildout
    - buildout bootstrap
    - buildout tox:env=travis install alltests
script:
    - bin/test-travis -v
notifications:
    email: false
cache:
  pip: true
  directories:
    - eggs/
