# Run tests of all packages that would have their tests run in a Zope-trunk
# SVN checkout.

[buildout]
extends = buildout.cfg
parts += alltests

[alltests]
recipe = zc.recipe.testrunner
eggs =
    ${buildout:eggs}
    Acquisition
    DateTime
    ExtensionClass
    Persistence
    RestrictedPython
    tempstorage
    zLOG
    zodbcode
    zope.annotation
    zope.broken
    zope.browser
    zope.cachedescriptors
    zope.component
    zope.configuration
    zope.container
    zope.contentprovider
    zope.contenttype
    zope.copypastemove
    zope.datetime
    zope.deferredimport
    zope.deprecation
    zope.dottedname
    zope.dublincore
    zope.error
    zope.event
    zope.exceptions
    zope.formlib
    zope.hookable
    zope.i18n
    zope.i18nmessageid
    zope.index
    zope.interface
    zope.lifecycleevent
    zope.location
    zope.minmax
    zope.modulealias
    zope.pagetemplate
    zope.proxy
    zope.publisher
    zope.schema
    zope.security
    zope.securitypolicy
    zope.sendmail
    zope.sequencesort
    zope.session
    zope.site
    zope.size
    zope.structuredtext
    zope.tal
    zope.tales
    zope.testbrowser
    zope.thread
    zope.traversing
    zope.viewlet
# Fetch undeclared ftests dependencies
    zope.app.broken
    zope.app.principalannotation
    zope.app.schema
    zope.app.securitypolicy
    zope.app.zcmlfiles
    zope.app.zptpage
    python-gettext

defaults = ['--module', '!^(zope[.]app)[.]']
