[buildout]
develop =
    .
parts =
    test
    zopepy

extends = versions-zope2.cfg
versions = versions
unzip = true
eggs =
    Zope2

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:eggs}
environment = test-environment

[test-environment]
SOFTWARE_HOME = ${buildout:directory}/src
ZOPE_HOME = ${buildout:directory}
INSTANCE_HOME = ${buildout:directory}

[omelette]
recipe = collective.recipe.omelette >= 0.7
eggs = ${buildout:eggs}

[lib_python]
recipe = z3c.recipe.runscript
install-script = bin/create_lib_python.py:create_lib_python
update-script = bin/create_lib_python.py:create_lib_python
src-dir = ${omelette:location}
dst-dir = ${buildout:directory}/lib/python
skip-names =
    easy_install.py
    pkg_resources.py
    setuptools
    site.py

[zopepy]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = zopepy
scripts = zopepy
