Babel==2.16.0
Jinja2==3.1.4
MarkupSafe==2.1.5; python_version == '3.8'
MarkupSafe==3.0.1; python_version > '3.8'
Missing==5.0
Products.BTreeFolder2==5.1
Products.ZCatalog==7.1
Pygments==2.18.0
Record==4.1
Sphinx==7.1.2; python_version == '3.8'
Sphinx==7.4.7; python_version == '3.9'
Sphinx==8.0.2; python_version > '3.9'
alabaster==0.7.13; python_version == '3.8'
alabaster==0.7.14; python_version == '3.9'
alabaster==1.0.0; python_version > '3.9'
certifi==2024.8.30
charset-normalizer==3.4.0
collective.recipe.template==2.2
colorama==0.4.6
docutils==0.20.1; python_version == '3.8'
docutils==0.20.1; python_version == '3.9'
docutils==0.21.2; python_version > '3.9'
five.localsitemanager==4.0
furo==2024.8.6
idna==3.10
imagesize==1.4.1
importlib-metadata==8.5.0
importlib-resources==6.4.0; python_version == '3.8'
legacy-cgi==2.6.1
mr.developer==2.0.2
packaging==24.1
plone.recipe.command==1.1
requests==2.32.3
snowballstemmer==2.2.0
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==1.0.4; python_version == '3.8'
sphinxcontrib-applehelp==2.0.0; python_version > '3.8'
sphinxcontrib-devhelp==1.0.2; python_version == '3.8'
sphinxcontrib-devhelp==2.0.0; python_version > '3.8'
sphinxcontrib-htmlhelp==2.0.1; python_version == '3.8'
sphinxcontrib-htmlhelp==2.1.0; python_version > '3.8'
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3; python_version == '3.8'
sphinxcontrib-qthelp==2.0.0; python_version > '3.8'
sphinxcontrib-serializinghtml==1.1.5; python_version == '3.8'
sphinxcontrib-serializinghtml==2.0.0; python_version > '3.8'
tempstorage==6.0
tomli==2.0.2
urllib3==2.2.3
z3c.checkversions==2.1
zc.recipe.testrunner==3.1
zipp==3.20.2
zope.testrunner==6.5
