AccessControl==7.2
Acquisition==6.1
AuthEncoding==6.0
BTrees==6.2
Babel==2.17.0
CacheControl==0.14.3
Chameleon==4.6.0
DateTime==5.5
DocumentTemplate==4.6
ExtensionClass==6.1
Jinja2==3.1.6
MarkupSafe==3.0.3
Missing==5.0
MultiMapping==5.0
Paste==3.10.1
PasteDeploy==3.1.0
Persistence==5.2
Products.BTreeFolder2==5.1
Products.ZCatalog==7.2.1
Pygments==2.19.2
Record==4.1
RestrictedPython==8.1
Sphinx==8.1.3; python_version == '3.10'
Sphinx==8.2.3; python_version > '3.10'
WSGIProxy2==0.5.1
WebOb==1.8.9
WebTest==3.0.7
ZConfig==4.2
ZODB==6.1
Zope2==4.0
accessible-pygments==0.0.5
alabaster==1.0.0
anyio==4.11.0
beautifulsoup4==4.14.2
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
collective.recipe.template==2.2
colorama==0.4.6
docutils==0.21.2
exceptiongroup==1.3.0; python_version == '3.10'
filelock==3.20.0
five.localsitemanager==5.0
furo==2025.9.25
h11==0.16.0
httpx==0.28.1
idna==3.11
imagesize==1.4.1
legacy-cgi==2.6.4
mr.developer==2.0.4
msgpack==1.1.2
multipart==1.3.0
packaging==25.0
persistent==6.3
plone.recipe.command==1.1
plone.versioncheck==2.0.0
pycparser==2.23
python-gettext==5.0
pytz==2025.2
requests==2.32.5
roman-numerals-py==3.1.0
roman==5.1
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.8
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tempstorage==6.0
tomli==2.2.1; python_version == '3.10'
transaction==5.0
typing-extensions==4.15.0
urllib3==2.5.0
waitress==3.0.2
z3c.pt==5.1
zExceptions==5.0
zc.lockfile==4.0
zc.recipe.egg==4.0.0
zc.recipe.testrunner==4.0
zodbpickle==4.2
zope.annotation==6.0
zope.browser==4.0
zope.browsermenu==6.0
zope.browserpage==6.0
zope.browserresource==6.0
zope.cachedescriptors==6.0
zope.component==7.0
zope.configuration==7.0
zope.container==7.0
zope.contentprovider==7.0
zope.contenttype==6.0
zope.datetime==6.0
zope.deferredimport==6.0
zope.deprecation==6.0
zope.dottedname==7.0
zope.event==6.0
zope.exceptions==6.0
zope.filerepresentation==7.0
zope.globalrequest==3.0
zope.hookable==8.1
zope.i18n==6.0
zope.i18nmessageid==8.1
zope.interface==8.0.1
zope.lifecycleevent==6.0
zope.location==6.0
zope.pagetemplate==6.0
zope.processlifetime==4.0
zope.proxy==7.0
zope.ptresource==6.0
zope.publisher==8.0
zope.schema==8.1
zope.security==8.2
zope.sequencesort==6.0
zope.site==6.0
zope.size==6.0
zope.structuredtext==6.0
zope.tal==6.0
zope.tales==7.0
zope.testbrowser==8.0
zope.testing==6.0
zope.testrunner==8.1
zope.traversing==6.0
zope.viewlet==6.0
