AccessControl==6.1
Acquisition==4.13
AuthEncoding==5.0
BTrees==5.0
Chameleon==4.0.0
DateTime==5.1
DocumentTemplate==4.4
ExtensionClass==5.0
MultiMapping==5.0
Paste==3.5.2
PasteDeploy==2.1.1; python_version == '3.7'
PasteDeploy==3.0.1; python_version > '3.7'
Persistence==3.6
RestrictedPython==6.0
WSGIProxy2==0.5.1
WebOb==1.8.7
WebTest==3.0.0
ZConfig==3.6.1
ZODB==5.8.0
Zope2==4.0
beautifulsoup4==4.11.2
cffi==1.15.1
multipart==0.2.4
persistent==5.0
pycparser==2.21
python-gettext==4.1
pytz==2022.7.1
roman==4.0
six==1.16.0
soupsieve==2.4
transaction==3.1.0
waitress==2.1.2
z3c.pt==3.3.1
zExceptions==4.3
zc.lockfile==3.0.post1
zc.recipe.egg==2.0.7
zodbpickle==2.6
zope.annotation==4.8
zope.browser==2.4
zope.browsermenu==5.0
zope.browserpage==5.0
zope.browserresource==5.0
zope.cachedescriptors==4.4
zope.component==5.1.0
zope.configuration==4.4.1
zope.container==5.0
zope.contentprovider==4.2.1
zope.contenttype==4.6
zope.datetime==4.3.0
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.dottedname==5.0
zope.event==4.6
zope.exceptions==4.6
zope.filerepresentation==6.0
zope.globalrequest==1.6
zope.hookable==5.4
zope.i18n==4.9.0
zope.i18nmessageid==5.1.1
zope.interface==6.0
zope.lifecycleevent==4.4
zope.location==4.3
zope.pagetemplate==5.0
zope.processlifetime==2.4
zope.proxy==5.0.0
zope.ptresource==4.3.0
zope.publisher==6.1.0
zope.schema==7.0.1
zope.security==6.1
zope.sequencesort==5.0
zope.site==4.6.1
zope.size==4.4
zope.structuredtext==4.4
zope.tal==5.0.1
zope.tales==5.2
zope.testbrowser==5.6.1
zope.testing==5.0.1
zope.traversing==4.4.1
zope.viewlet==4.3
