include *.txt
include *.rst
include *.cfg
exclude .*.cfg

recursive-include docs *
recursive-include src *

prune docs/.build
prune docs/_build

global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so

include *.py
include buildout.cfg
include sources.cfg
include versions-prod.cfg
include versions.cfg
