[buildout]
extends = versions-zope3.cfg
versions = versions

[versions]
zc.buildout =
zc.recipe.egg =
Acquisition = 2.12.0a1
DateTime = 2.11.2
ExtensionClass = 2.11.1
Persistence = 2.11.1
RestrictedPython = 3.4.3
tempstorage = 2.11.1
zLOG = 2.11.1
ZODB3 = 3.8.1
zc.lockfile = 1.0
transaction = 1.0a1
ClientForm = 0.2.10
ZConfig = 2.6.1
docutils = 0.4
# docutils = 0.5 - this generates test failures for reStructuredText
mechanize = 0.1.10
pytz = 2009a
zope.broken = 3.5.0
zope.browser = 0.5.0
zope.component = 3.5.1
zope.configuration = 3.4.1
zope.container = 3.7.0
zope.contenttype = 3.4.1
zope.copypastemove = 3.4.1
zope.deferredimport = 3.5.0
zope.dottedname = 3.4.5
zope.dublincore = 3.4.1
zope.exceptions = 3.5.2
zope.formlib = 3.5.1
zope.i18n = 3.6.0
zope.interface = 3.5.0
zope.lifecycleevent = 3.5.0
zope.location = 3.5.2
zope.proxy = 3.5.0
zope.publisher = 3.5.5
zope.schema = 3.5.2
zope.security = 3.6.0
zope.sendmail = 3.5.1
zope.server = 3.5.0
zope.session = 3.7.1
zope.site = 3.6.0
zope.testbrowser = 3.6.0a2
zope.testing = 3.7.1
zope.traversing = 3.5.2
zope.viewlet = 3.5.0
zope.app.apidoc = 3.6.1
zope.app.appsetup = 3.9.0
zope.app.component = 3.6.0
zope.app.container = 3.7.0
zope.app.error = 3.5.2
zope.app.exception = 3.4.2
zope.app.folder = 3.5.0
zope.app.form = 3.7.1
zope.app.generations = 3.4.2
zope.app.http = 3.4.2
zope.app.locales = 3.5.1
zope.app.pagetemplate = 3.5.0
zope.app.publication = 3.5.1
zope.app.publisher = 3.6.0
zope.app.schema = 3.5.0
zope.app.security = 3.5.3
zope.app.testing = 3.6.0
zope.app.zcmlfiles = 3.5.2
