# KGS of Zope3 3.5.0
# http://download.zope.org/zope3.5/
# http://download.zope.org/zope3.5/3.5dev/versions.cfg
# The website isn't updated regularly right now, so we use a version from
# svn://svn.zope.org/repos/main/zope.release/trunk (2009-03-01)
[versions]
ClientForm = 0.2.10
RestrictedPython = 3.5.1
ZConfig = 2.6.1
ZODB3 = 3.9.0a12
docutils = 0.5
jquery.javascript = 1.0.0
jquery.layer = 1.0.0
lxml = 2.2beta4
mechanize = 0.1.11
pytz = 2009a
setuptools = 0.6c9
transaction = 1.0a1
z3c.coverage = 1.1.2
z3c.csvvocabulary = 1.0.0
z3c.etestbrowser = 1.2.1
z3c.form = 1.9.0
z3c.formdemo = 1.5.3
z3c.formjs = 0.4.1
z3c.formjsdemo = 0.3.1
z3c.formui = 1.4.2
z3c.i18n = 0.1.1
z3c.layer.minimal = 1.0.1
z3c.layer.pagelet = 1.0.1
z3c.layer.ready2go = 0.5.1
z3c.layer.trusted = 1.0.1
z3c.macro = 1.1.0
z3c.macroviewlet = 1.0.0
z3c.menu.ready2go = 0.5.1
z3c.menu.simple = 0.5.1
z3c.optionstorage = 1.0.4
z3c.pagelet = 1.0.3
z3c.rml = 0.7.3
z3c.schema = 0.6.0
z3c.skin.pagelet = 1.0.2
z3c.template = 1.2.0
z3c.testing = 0.3.0
z3c.traverser = 0.2.4
z3c.viewtemplate = 0.4.0
z3c.zrtresource = 1.1.0
zc.buildout = 1.2.0
zc.catalog = 1.4.1
zc.datetimewidget = 0.6.1
zc.i18n = 0.6.1
zc.lockfile = 1.0
zc.recipe.egg = 1.1.0
zc.recipe.filestorage = 1.0.1
zc.recipe.testrunner = 1.1.0
zc.resourcelibrary = 1.0.2
zc.table = 0.7.0
zc.zope3recipes = 0.7.0
zdaemon = 2.0.3
zodbcode = 3.4.0
zope.annotation = 3.4.1
zope.app.apidoc = 3.6.1
zope.app.applicationcontrol = 3.4.3
zope.app.appsetup = 3.9.0
zope.app.authentication = 3.5.0a2
zope.app.basicskin = 3.4.0
zope.app.boston = 3.4.0
zope.app.broken = 3.5.0
zope.app.cache = 3.5.0
zope.app.catalog = 3.8.0
zope.app.component = 3.6.0
zope.app.container = 3.7.1
zope.app.content = 3.4.0
zope.app.dav = 3.5.0
zope.app.debug = 3.4.1
zope.app.debugskin = 3.4.0
zope.app.dependable = 3.4.0
zope.app.dtmlpage = 3.5.0
zope.app.error = 3.5.2
zope.app.exception = 3.4.2
zope.app.externaleditor = 3.5.0
zope.app.file = 3.5.0
zope.app.folder = 3.5.0
zope.app.form = 3.7.1
zope.app.ftp = 3.5.0
zope.app.generations = 3.4.2
zope.app.homefolder = 3.5.0
zope.app.http = 3.5.0
zope.app.i18n = 3.5.0
zope.app.i18nfile = 3.4.1
zope.app.interface = 3.4.0
zope.app.interpreter = 3.4.0
zope.app.intid = 3.7.0
zope.app.layers = 3.4.0
zope.app.locales = 3.5.1
zope.app.locking = 3.5.0
zope.app.module = 3.5.0
zope.app.onlinehelp = 3.5.0
zope.app.pagetemplate = 3.5.0
zope.app.pluggableauth = 3.4.0
zope.app.preference = 3.6.0
zope.app.preview = 3.4.0
zope.app.principalannotation = 3.5.0
zope.app.publication = 3.5.1
zope.app.publisher = 3.6.0
zope.app.pythonpage = 3.5.0
zope.app.renderer = 3.5.0
zope.app.rotterdam = 3.5.0
zope.app.schema = 3.5.0
zope.app.security = 3.6.0
zope.app.securitypolicy = 3.5.1
zope.app.server = 3.4.2
zope.app.session = 3.6.0
zope.app.skins = 3.4.0
zope.app.sqlscript = 3.5.0
zope.app.testing = 3.6.0
zope.app.traversing = 3.4.0
zope.app.tree = 3.6.0
zope.app.twisted = 3.4.2
zope.app.undo = 3.5.0
zope.app.wfmc = 0.1.2
zope.app.workflow = 3.5.0
zope.app.wsgi = 3.4.1
zope.app.xmlrpcintrospection = 3.5.0
zope.app.zapi = 3.4.0
zope.app.zcmlfiles = 3.5.2
zope.app.zopeappgenerations = 3.4.0
zope.app.zptpage = 3.5.0
zope.broken = 3.5.0
zope.browser = 0.5.0
zope.cachedescriptors = 3.4.1
zope.catalog = 3.8.0
zope.component = 3.5.1
zope.configuration = 3.5.0
zope.container = 3.7.1
zope.contentprovider = 3.4.0
zope.contenttype = 3.4.1
zope.copy = 3.5.0
zope.copypastemove = 3.5.1
zope.datetime = 3.4.0
zope.decorator = 3.4.0
zope.deferredimport = 3.5.0
zope.deprecation = 3.4.0
zope.documenttemplate = 3.4.2
zope.dottedname = 3.4.5
zope.dublincore = 3.4.2
zope.error = 3.6.0
zope.event = 3.4.0
zope.exceptions = 3.5.2
zope.file = 0.4.0
zope.filerepresentation = 3.5.0
zope.formlib = 3.5.2
zope.hookable = 3.4.1
zope.html = 1.1.0
zope.i18n = 3.6.0
zope.i18nmessageid = 3.4.3
zope.index = 3.5.1
zope.interface = 3.5.0
zope.intid = 3.7.0
zope.keyreference = 3.6.1
zope.lifecycleevent = 3.5.0
zope.location = 3.5.3
zope.mimetype = 0.3.0
zope.minmax = 1.1.0
zope.modulealias = 3.4.0
zope.pagetemplate = 3.4.1
zope.proxy = 3.5.0
zope.publisher = 3.5.7
zope.rdb = 3.5.0
zope.schema = 3.5.2
zope.security = 3.6.3
zope.securitypolicy = 3.5.0
zope.sendmail = 3.5.1
zope.sequencesort = 3.4.0
zope.server = 3.5.0
zope.session = 3.8.1
zope.site = 3.6.1
zope.size = 3.4.1
zope.structuredtext = 3.4.0
zope.tal = 3.5.1
zope.tales = 3.4.0
zope.testbrowser = 3.6.0a2
zope.testing = 3.7.1
zope.testrecorder = 0.3.0
zope.traversing = 3.5.2
zope.ucol = 1.0.2
zope.viewlet = 3.5.0
zope.wfmc = 3.4.0
zope.xmlpickle = 3.4.0
