# Zope together with some Products from its ecosystem.
# 
# This configuration can be used to run a Zope instance together with some packages
# from the Zope ecosystem mainly to try out checkouts of `master` or branches and
# run the tests against Zope `master`.
#
# Usage:
#  $ bin/buildout -c zope-ecosystem.cfg

[buildout]
extends = buildout.cfg
allow-picked-versions = true
show-picked-versions = true
additional_packages =
    Products.CMFCore
    Products.ExternalMethod
    Products.MailHost
    Products.PythonScripts
    Products.Sessions
    Products.SiteErrorLog
    Products.TemporaryFolder
    Products.ZODBMountPoint
auto-checkout +=
    Products.CMFCore
    Products.PythonScripts
    Products.Sessions
    Products.TemporaryFolder
    Products.SiteErrorLog
    Products.ZODBMountPoint


[sources]
Products.CMFCore = git ${remotes:github}/Products.CMFCore pushurl=${remotes:github_push}/Products.CMFCore

[scripts]
eggs += ${buildout:additional_packages}

[zopescripts]
eggs += ${buildout:additional_packages}

[allpy]
eggs += ${buildout:additional_packages}

[alltests]
eggs += ${buildout:additional_packages}
