# Version pins for required and commonly used dependencies.

[versions]
Zope2 = 4.0a1
AccessControl = 4.0a1
Acquisition = 4.2.2
BTrees = 4.3.1
DateTime = 4.1.1
DocumentTemplate = 2.13.2
docutils = 0.12
ExtensionClass = 4.1.2
five.globalrequest = 1.0
initgroups = 3.0
mechanize = 0.2.5
Missing = 3.1
MultiMapping = 3.0
PasteDeploy = 1.5.2
Persistence = 3.0a1
persistent = 4.2.1
Products.BTreeFolder2 = 3.0
Products.ExternalMethod = 3.0
Products.MailHost = 3.0
Products.OFSP = 3.0
Products.PythonScripts = 3.0
Products.SiteErrorLog = 4.0
Products.StandardCacheManagers = 3.0
Products.ZCatalog = 4.0a1
Products.ZCTextIndex = 3.0
python-gettext = 3.0
pytz = 2016.6.1
Record = 3.1
repoze.retry = 1.4
RestrictedPython = 3.6.0
six = 1.10.0
tempstorage = 3.0
transaction = 1.6.1
unittest2 = 1.1.0
waitress = 0.9.0
WebOb = 1.6.1
WebTest = 2.0.23
zc.lockfile = 1.2.1
ZConfig = 3.1.0
zdaemon = 4.1.0
ZEO = 4.2.1
zExceptions = 3.2
zLOG = 3.0
ZODB = 4.4.2
zodbpickle = 0.6.0
zope.annotation = 4.4.1
zope.browser = 2.1.0
zope.browsermenu = 4.1.1
zope.browserpage = 4.1.0
zope.browserresource = 4.1.0
zope.cachedescriptors = 4.1.0
zope.component = 4.2.2
zope.componentvocabulary = 2.0.0
zope.configuration = 4.0.3
zope.container = 4.1.0
zope.contentprovider = 4.0.0
zope.contenttype = 4.1.0
zope.deferredimport = 4.1.0
zope.deprecation = 4.1.2
zope.dottedname = 4.1.0
zope.event = 4.2.0
zope.exceptions = 4.0.8
zope.filerepresentation = 4.1.0
zope.formlib = 4.3.0
zope.globalrequest = 1.2
zope.i18n = 4.1.0
zope.i18nmessageid = 4.0.3
zope.interface = 4.2.0
zope.lifecycleevent = 4.1.0
zope.location = 4.0.3
zope.pagetemplate = 4.2.1
zope.processlifetime = 2.1.0
zope.proxy = 4.2.0
zope.ptresource = 4.0.0
zope.publisher = 4.3.0
zope.ramcache = 2.1.0
zope.schema = 4.4.2
zope.security = 4.0.3
zope.sendmail = 4.0.1
zope.sequencesort = 4.0.1
zope.site = 4.0.0
zope.size = 4.1.0
zope.structuredtext = 4.1.0
zope.tal = 4.2.0
zope.tales = 4.1.1
zope.testbrowser = 4.0.4
zope.testing = 4.5.0
zope.testrunner = 4.5.1
zope.traversing = 4.0.0
zope.viewlet = 4.0.0
ZopeUndo = 4.1
