Zope2==2.13.28
AccessControl==2.13.16
Acquisition==2.13.12
DateTime==2.12.8
DocumentTemplate==2.13.4
ExtensionClass==2.13.2
Jinja2==2.8.1
Missing==2.13.1
MultiMapping==2.13.0
Paste==1.7.5.1
PasteDeploy==1.3.4
PasteScript==1.7.5
Persistence==2.13.2
Products.BTreeFolder2==2.13.5
Products.ExternalMethod==2.13.1
Products.MIMETools==2.13.0
Products.MailHost==2.13.2
Products.OFSP==2.13.2
Products.PythonScripts==2.13.2
Products.Sessions==3.0
Products.StandardCacheManagers==2.13.1
Products.TemporaryFolder==3.0
Products.ZCTextIndex==2.13.5
Products.ZCatalog==2.13.29
Pygments==2.2.0
Record==2.13.0
RestrictedPython==3.6.0
Sphinx==1.0.8
ZConfig==2.9.3
ZODB3==3.10.7
ZServer==3.0
ZopeUndo==2.12.0
docutils==0.12
initgroups==2.13.0
mechanize==0.2.5
mr.developer==1.38
pluggy==0.6.0
py==1.5.2
pytz==2017.2
repoze.retry==1.2
repoze.tm2==1.0
repoze.who==2.0
six==1.11.0
tempstorage==2.12.2
tox==2.9.1
transaction==1.1.1
z3c.checkversions==0.5
zExceptions==2.13.0
zLOG==2.11.2
zc.buildout==2.3.1
zc.lockfile==1.0.2
zc.recipe.egg==2.0.5
zc.recipe.testrunner==1.2.1
zdaemon==2.0.7
zope.annotation==3.5.0
zope.broken==3.6.0
zope.browser==1.3
zope.browsermenu==3.9.1
zope.browserpage==3.12.2
zope.browserresource==3.10.3
zope.component==3.9.5
zope.configuration==3.7.4
zope.container==3.11.2
zope.contentprovider==3.7.2
zope.contenttype==3.5.5
zope.deferredimport==3.5.3
zope.dottedname==3.4.6
zope.event==3.5.2
zope.exceptions==3.6.2
zope.filerepresentation==3.6.1
zope.i18n==3.7.4
zope.i18nmessageid==3.5.3
zope.interface==3.6.8
zope.lifecycleevent==3.6.2
zope.location==3.9.1
zope.pagetemplate==3.5.2
zope.processlifetime==1.0
zope.proxy==3.6.1
zope.ptresource==3.9.0
zope.publisher==3.12.6
zope.schema==3.7.1
zope.security==3.7.4
zope.sendmail==3.7.5
zope.sequencesort==3.4.0
zope.site==3.9.2
zope.size==3.4.1
zope.structuredtext==3.5.1
zope.tal==3.5.2
zope.tales==3.5.3
zope.testbrowser==3.11.1
zope.testing==3.9.7
zope.traversing==3.13.2
zope.viewlet==3.7.2
