# Version pins for required and commonly used dependencies.

[versions]
Zope = 4.0b1
AccessControl = 4.0b1
AuthEncoding = 4.0.0
Acquisition = 4.4.2
BTrees = 4.4.1
Chameleon = 3.1
DateTime = 4.2
DocumentTemplate = 3.0b1
ExtensionClass = 4.3.0
five.globalrequest = 99.1
five.localsitemanager = 3.0.1
funcsigs = 1.0.2
mock = 2.0.0
Missing = 4.0.1
MultiMapping = 4.0
PasteDeploy = 1.5.2
pbr = 3.1.1
Persistence = 3.0b1
persistent = 4.2.2
Products.BTreeFolder2 = 4.0.0
Products.ZCatalog = 4.0.0
Products.ZCTextIndex = 4.0.2
pytz = 2017.2
Record = 3.4
RestrictedPython = 4.0b2
six = 1.10.0
transaction = 2.1.2
waitress = 1.0.2
WebOb = 1.7.3
WebTest = 2.0.28
WSGIProxy2 = 0.4.4
z3c.pt = 3.0
zc.lockfile = 1.2.1
ZConfig = 3.2.0
zdaemon = 4.2.0
ZEO = 5.1
zExceptions = 3.6.1
ZODB = 5.3.0
zodbpickle = 0.6.0
zope.annotation = 4.5
zope.browser = 2.2.0
zope.browsermenu = 4.3.0
zope.browserpage = 4.2.0
zope.browserresource = 4.2.1
zope.cachedescriptors = 4.3.0
zope.component = 4.4.0
zope.componentvocabulary = 2.1.0
zope.configuration = 4.1.0
zope.container = 4.2.1
zope.contentprovider = 4.1.0
zope.contenttype = 4.3.0
zope.datetime = 4.2.0
zope.deferredimport = 4.2.0
zope.deprecation = 4.3.0
zope.dottedname = 4.2.0
zope.event = 4.3.0
zope.exceptions = 4.1.0
zope.filerepresentation = 4.2.0
zope.formlib = 4.4
zope.globalrequest = 1.4
zope.i18n = 4.2.0
zope.i18nmessageid = 4.1.0
zope.interface = 4.4.2
zope.lifecycleevent = 4.2.0
zope.location = 4.1.0
zope.pagetemplate = 4.3.0
zope.processlifetime = 2.2.0
zope.proxy = 4.2.1
zope.ptresource = 4.1.0
zope.publisher = 4.3.2
zope.ramcache = 2.2.0
zope.schema = 4.5.0
zope.security = 4.1.1
zope.sendmail = 4.1.0
zope.sequencesort = 4.0.1
zope.site = 4.1.0
zope.size = 4.2.0
zope.structuredtext = 4.2.0
zope.tal = 4.3.0
zope.tales = 4.1.1
zope.testbrowser = 5.2.1
zope.testing = 4.6.2
zope.testrunner = 4.7.0
zope.traversing = 4.1.0
zope.viewlet = 4.0.0
ZServer = 4.0a2
