
.zmi-icon-file:before { content: '\e800'; } /* '' */
.zmi-icon-numbers:before { content: '\e801'; } /* '' */
.zmi-icon-tree:before { content: '\e802'; } /* '' */
.zmi-icon-folder2:before { content: '\e803'; } /* '' */
.zmi-icon-folder:before { content: '\e804'; } /* '' */
.zmi-icon-book:before { content: '\e805'; } /* '' */
.zmi-icon-search:before { content: '\e806'; } /* '' */
.zmi-icon-info:before { content: '\e807'; } /* '' */
.zmi-icon-python:before { content: '\e808'; } /* '' */
.zmi-icon-mail:before { content: '\e809'; } /* '' */
.zmi-icon-doc:before { content: '\f0f6'; } /* '' */
.zmi-icon-broken:before { content: '\f188'; } /* '' */
.zmi-icon-image:before { content: '\f1c5'; } /* '' */
.zmi-icon-markup:before { content: '\f1c9'; } /* '' */
.zmi-icon-monster:before { content: '\f23c'; } /* '' */
.zmi-icon-user:before { content: '\f2ba'; } /* '' */