@font-face {
  font-family: 'zopetello';
  src: url('../font/zopetello.eot?63240935');
  src: url('../font/zopetello.eot?63240935#iefix') format('embedded-opentype'),
       url('../font/zopetello.woff2?63240935') format('woff2'),
       url('../font/zopetello.woff?63240935') format('woff'),
       url('../font/zopetello.ttf?63240935') format('truetype'),
       url('../font/zopetello.svg?63240935#zopetello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zopetello';
    src: url('../font/zopetello.svg?63240935#zopetello') format('svg');
  }
}
*/
 
 [class^="zmi-icon-"]:before, [class*=" zmi-icon-"]:before {
  font-family: "zopetello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.zmi-icon-file:before { content: '\e800'; } /* '' */
.zmi-icon-numbers:before { content: '\e801'; } /* '' */
.zmi-icon-tree:before { content: '\e802'; } /* '' */
.zmi-icon-folder2:before { content: '\e803'; } /* '' */
.zmi-icon-folder:before { content: '\e804'; } /* '' */
.zmi-icon-book:before { content: '\e805'; } /* '' */
.zmi-icon-search:before { content: '\e806'; } /* '' */
.zmi-icon-info:before { content: '\e807'; } /* '' */
.zmi-icon-python:before { content: '\e808'; } /* '' */
.zmi-icon-mail:before { content: '\e809'; } /* '' */
.zmi-icon-doc:before { content: '\f0f6'; } /* '' */
.zmi-icon-broken:before { content: '\f188'; } /* '' */
.zmi-icon-image:before { content: '\f1c5'; } /* '' */
.zmi-icon-markup:before { content: '\f1c9'; } /* '' */
.zmi-icon-monster:before { content: '\f23c'; } /* '' */
.zmi-icon-user:before { content: '\f2ba'; } /* '' */