*.egg-info
*.py?
.coverage
.coverage.py*
.installed*.cfg
.mr.developer.cfg
.tox
/bin/
/build/
coverage.xml
/develop/
/develop-eggs/
/dist/
/eggs/
/etc/
/htmlcov/
/include/
/lib/
/log/
/parts/
/var/
/docs/_build/
/docs/.build/
