*.egg-info
*.py?
.coverage
.coverage.py*
.installed*.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
/bin/
/build/
/develop-eggs/
/develop/
/dist/
/docs/_build/
/eggs/
/etc/
/htmlcov/
/include/
/lib/
/log/
/parts/
/var/
coverage.xml
