  include *.rst
  include *.txt
  recursive-include zmi *.css
  recursive-include zmi *.eot
  recursive-include zmi *.html
  recursive-include zmi *.js
  recursive-include zmi *.json
  recursive-include zmi *.map
  recursive-include zmi *.svg
  recursive-include zmi *.ttf
  recursive-include zmi *.txt
  recursive-include zmi *.woff
  recursive-include zmi *.woff2
  recursive-include zmi *.zcml
